@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="greetings">
    <div class="container">
        <div class="jumbotron py-3">
            <h1 class="d3">Welcome!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
    </div>
</section>

<section>
        
    <div class="container">
        <div class="card-columns locationsBlock">
            @foreach (var album in Model.AlbumList)
            {
                <div class="card bg-white text-white" style="">
                    <a asp-page="/Album" asp-route-id="@album.Id">
                        <img src=@album.Cover class="card-img" alt="...">
                        <div class="card-img-overlay d-flex align-items-end px-0">
                            <h5 class="card-title flex-fill pl-1 pl-lg-3">@album.Name</h5>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>