@page
@using Newtonsoft.Json.Linq
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="greetings">
    <div class="container">
        <div class="jumbotron">
            <h1 class="d3">Welcome!</h1>
            <p class="lead">This is my travel photo-gallery. I am not a professional photographer, but I love mountains a lot, and I am happy to share my experiences with the world.</p>
        </div>
    </div>
</section>

<section class="locations">
        
    <div class="container">

        <div class="card-deck locationsBlock">
                
            <div class="card bg-white text-white">
                @*не работает переход по ссылке на Albums с передачей параметра*@
                <a href="/Album/Alps">
                    <img src="images/alps.png" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex align-items-end px-0">
                        <h5 class="card-title flex-fill pl-3">Alps</h5>
                    </div>
                </a>
            </div>          
               
            <div class="card bg-white text-white">
                <a href="/Album/Crimea">
                <img src="images/crimea.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-end px-0">
                    <h5 class="card-title flex-fill pl-3">Crimea</h5>
                </div>
                </a>
            </div>
               
            <div class="card bg-white text-white">
                <a href="/Album/Norway">
                <img src="images/norway.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-end px-0">
                    <h5 class="card-title flex-fill pl-3">Norway</h5>
                </div>
                </a>
            </div> 
        </div>

        <div class="card-deck locationsBlock">
        
            <div class="card bg-white text-white">
                <a href="/Album/Altai">
                <img src="images/altay.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-end px-0">
                    <h5 class="card-title flex-fill pl-3">Altai</h5>
                </div>
                </a>
            </div>
            
            <div class="card bg-white text-white">
                <a href="/Album/Carpathians">
                <img src="images/carpatian.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-end px-0">
                    <h5 class="card-title flex-fill pl-3">Carpathians</h5>
                </div>
                </a>
            </div>
                
            <div class="card bg-white text-white">
                <a href="/Album/Caucasus">
                <img src="images/caucasus.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-end px-0">
                    <h5 class="card-title flex-fill pl-3">Caucasus</h5>
                </div>
                </a>
            </div>

        </div>
           
        <div class="card-deck locationsBlock">
           
            <div class="card bg-white text-white">
                <a href="/Album/Iceland">
                <img src="images/iceland.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-end px-0">
                    <h5 class="card-title flex-fill pl-3">Iceland</h5>
                </div>
                </a>
            </div>
            
            <div class="card bg-white text-white">
                <a href="/Album/Lake Baikal">
                <img src="images/mount.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-end px-0">
                    <h5 class="card-title flex-fill pl-3">Lake Baikal</h5>
                </div>
                </a>
            </div>

            <div class="card bg-white text-white">
                <a href="/Album/East Sayan">
                <img src="images/sayan.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-end px-0">
                    <h5 class="card-title flex-fill pl-3">East Sayan</h5>
                </div>
                </a>
            </div>
            
        </div>

    </div>

</section>