/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#mainNav{
  font-size: 1.2rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: rgb(254, 254, 254);
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Thasadith', sans-serif;
  font-weight:bold;
  color: #454545;
}

.btn{
  font-weight:bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.greetings{
  margin-top: 50px;
}

.jumbotron{
  background-color: transparent;
  border: 1px solid #454545;
}

.jumbotron .lead{
  font-weight: 600;
  font-size: 0.9rem;
}

.card-img-overlay h5{
  font-size: 2.5rem;
  background-color: rgba(69,69,69, 0.4)
}

.card a{
  color:white;
}

.card-columns {
  column-count: 3;
}

.card-columns.locationsBlock {
  column-count: 1;
}

div .modal-content{
  background-color: transparent;
  border-color: transparent;
}

.carousel-caption{
  color: #ffffff;
  word-wrap: break-word;
  background-color: rgba(69,69,69,0.5);
  max-width: 100%;
  bottom: 0;
  font-size: 13px;
  margin: auto;
  display: none;
  padding-bottom: 0;
}

.img-fluid{
  max-height: 900px;
  margin: auto;
}

/* Without this card-columns look broken in chrome */
.card {
  display: block;
}

.cImage:hover + .carousel-caption {
  display: block;
}
.carousel-caption:hover {
  display: block;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .locationsBlock{
    margin-bottom: 30px;
  }

  .card-columns.locationsBlock {
    column-count: 3;
  }

  .card-columns {
    column-count: 4;
  }

  .card-img-overlay h5{
    font-size: 1.7rem;
  }

  .carousel-caption{
    color: #ffffff;
    word-wrap: break-word;
    max-width: 300px;
    bottom: 0;
    font-size: 20px;
    margin: auto;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-overlay h5{
    font-size: 2.5rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-overlay h5{
    font-size: 3rem;
  }
  .jumbotron .lead{
    font-size: 1.2rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-img-overlay h5{
    font-size: 4rem;
  }
}

