@page
@using TravelGalleryWeb.Models
@model TravelGalleryWeb.Pages.Admin.Admins.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Admin.Login" class="control-label"></label>
                <input asp-for="Admin.Login" class="form-control" required/>
                <span asp-validation-for="Admin.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Password" class="control-label"></label>
                <input asp-for="Admin.Password" class="form-control" type="password" required />
                <span asp-validation-for="Admin.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Role" class="control-label"></label>
                <select asp-for="Admin.Role" class="form-control">
                    <option>@Role.Administrator</option>
                    <option>@Role.ContentManager</option>
                </select>
                <span asp-validation-for="Admin.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}