@page
@model TravelGalleryWeb.Pages.Admin.Albums.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.Message != null)
        {
            <div class="alert alert-info" role="alert" >@Model.Message</div>
        }
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Album.Id"/>
            <input type="hidden" asp-for="Album.Cover"/>
            <div class="form-group">
                <label asp-for="Album.Name" class="control-label"></label>
                <input asp-for="Album.Name" class="form-control" maxlength="20" />
                <span asp-validation-for="Album.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CoverImage">Cover image (PNG, GIF, BMP, JPEG, JPG)</label>
                <input type="file" id="CoverImage" name="CoverImage"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
